.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f4efed;
  color: black;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.links-container {
  display: flex;
  justify-content: flex-end;
  color: #763426;
  height: fit-content;
  align-self: flex-end;
  margin-bottom: 25px;
  margin-right: 20px;
}

a.nav-link {
  position: relative;
  margin: 15px 10px 0px 10px;
  order: 2;
  font-size: 20px;
  transition: all 0.2s ease-in;
}

a {
  text-decoration: none;
  color: #763426;
}
a:hover {
  color: #8faecb;
}
a:visited {
  color: #763426;
  text-decoration: none;
}

a.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #763426;

  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.nav-link:hover:before {
  visibility: visible;
  width: 100%;
}
.title {
  text-align: center;
  font-family: "Train One";
  font-size: 50px;
  color: black;
  margin: 2px;
  padding-left: 20px;
}
.title-descriptor {
  align-self: flex-end;
  margin: 0;
  padding: 15px;
  text-align: left;
  font-size: 25px;
}
.titles {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 35px;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .links-container {
    align-self: center;
  }
  .titles {
    flex-direction: column;
  }
  .title-descriptor {
    align-self: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: 30px;
    margin: 0;
    padding: 0px;
  }
  .title-descriptor {
    padding-bottom: 5px;
  }
  a.nav-link {
    font-size: 18px;
  }
  .links-container {
    margin: 0;
    margin-bottom: 10px;
  }
}
