p.message {
  justify-content: right;
  margin-top: 10vh;
  margin-left: 60vw;
  width: 20vw;
  padding: 10px;
  border-radius: 20px;
  background-color: #f4efed;
}
.home-screen {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #f4efed;
}
.background {
  background-position: center;
  background-size: cover;
  width: 80vw;
  height: 90vh;
  align-self: center;
  z-index: 1;
}
.black {
  display: flex;
  justify-content: center;
  background-color: black;
  animation: grayscale-fade-in 2s ease-in forwards;
}

@keyframes grayscale-fade-in {
  0% {
    filter: grayscale(100%) blur(1px);
  }
  100% {
    filter: grayscale(0%) blur(0px);
  }
}

.about-me-div {
  min-height: fit-content;
  margin: 2vw;
  color: #763426;
  font-size: 30px;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
}
.AM-Description {
  color: #763426;
  font-weight: normal;
  width: 60vw;
  text-align: left;
  font-size: 25px;
  align-self: center;
}
.intro {
  text-align: center;
}
.list {
  margin: 15px;
  list-style-type: "  ";
  text-indent: 0px;
}

.projects-div {
  background-color: #c1ccd4;
  align-self: flex-end;
  width: 40.7em;
  height: 10em;
  margin-right: 5vw;
  color: #763426;
}
.contact-me {
  align-self: center;
  width: 90vw;
  height: 100vh;
  margin-right: 5vw;
  margin-left: 5vw;
  color: #763426;
}
/* MY WORK SECTION */
.my-work-h1 {
  text-align: center;
  background-color: #ebe5e3;
  margin: 0;
  padding-top: 50px;
}
.my-work {
  height: 100vh;
  background-color: #ebe5e3;
  padding: 10vh;
  display: flex;
}
.project-btns {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.work-btn {
  font-size: 25px;
  border-radius: 35px;
  width: 20vw;
  border: none;
  margin: 10px;
  padding: 15px;
  outline: none;
  background-color: #9d7446;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
  margin-right: 5vw;
}
.work-btn:hover {
  background-color: #ac875f;
}
.projects {
  font-size: 20px;
  margin-top: 10vh;
  width: 80vw;
  height: 35vh;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  justify-content: flex-end;
}
