p.message {
  justify-content: right;
  margin-top: 10vh;
  margin-left: 60vw;
  width: 20vw;
  padding: 10px;
  border-radius: 20px;
  background-color: #f4efed;
}
.home-screen {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #f4efed;
}
.spice {
  font-family: "dancing script";
  font-size: 30px;
}
.blurb {
  font-size: 18px;
}
.background {
  background-position: center;
  background-size: cover;
  width: 80vw;
  height: 90vh;
  align-self: center;
  z-index: 1;
}
.black {
  display: flex;
  justify-content: center;
  background-color: black;
  animation: grayscale-fade-in 2s ease-in forwards;
}

@keyframes grayscale-fade-in {
  0% {
    filter: grayscale(100%) blur(1px);
  }
  100% {
    filter: grayscale(0%) blur(0px);
  }
}
.artwork-slide {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 20px, 800px, 20px;
}
.art-n-me {
  width: 300px;
  align-self: center;
  grid-column-start: 2;
  grid-row: 2;
  justify-self: center;
}
.birdpic {
  width: 500px;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}
.artwork-slide p {
  grid-row: 1;
  color: white;
  font-size: 30px;
  justify-self: start;
  margin-left: 20px;
}
.square {
  background-color: #8c2f39;
  width: 90px;
  height: 90px;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
}
a.seemoreart {
  grid-column: 1;
  grid-row: 3;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-self: start;
}
p.art-blurb {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  font-size: 20px;
  word-wrap: normal;
  width: 300px;
  justify-self: end;
  background-color: #8c2f39;
  padding: 20px;
  border-radius: 25px;
  height: fit-content;
}
.seemoreart:hover {
  color: #f7b0b0;
}
.square2 {
  background-color: #f7b0b0;
  width: 90px;
  height: 90px;
  margin-top: 120px;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
}
.square3 {
  background-color: white;
  width: 90px;
  height: 90px;
  margin-top: 240px;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
}
/* ABOUT ME SECTION */
.about-me-div {
  min-height: fit-content;
  margin: 2vw;
  color: #763426;
  font-size: 30px;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
}
.AM-Description {
  color: #763426;
  font-weight: normal;
  width: 60vw;
  text-align: left;
  font-size: 25px;
  align-self: center;
}
.intro {
  text-align: center;
}
.list {
  margin: 15px;
  list-style-type: "  ";
  text-indent: 0px;
}

/* MY WORK SECTION/ PROJECTS */
.my-work-h1 {
  text-align: center;
  background-color: #ebe5e3;
  margin: 0;
  padding-top: 50px;
}
.my-work {
  display: flex;
  background-color: #ebe5e3;
  padding: 2vh;
  justify-content: center;
}
.project-btns {
  display: flex;
  align-self: flex-start;
  width: fit-content;
}
.project {
  font-size: 25px;
  padding: 15px;
  margin: 10px;
  width: 18vw;
  background-color: #9d7446;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
}

.projects-div {
  background-color: #c1ccd4;
  align-self: flex-end;
  width: 60em;
  height: 10em;
  margin-right: 5vw;
  color: #763426;
}
.proj-description {
  max-height: 30vh;
  font-size: 18px;
  overflow: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.project-img {
  width: 10em;
  box-shadow: 0px 0px 15px rgba(41, 41, 41, 0.81);
  margin: 10px;
}

.project a {
  padding: 5px;
  position: relative;
  bottom: 0;
}

.project a:hover {
  color: #c1ccd4;
}
/* CONTACT SECTION  */
.my-contact-h1 {
  text-align: center;
  margin: 10px;
  padding-top: 20px;
  color: black;
}
.contact-me {
  background-color: #f4efed;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100vw;
  margin-right: 5vw;
  margin-left: 5vw;
  color: #763426;
}

@media screen and (max-width: 1100px) {
  .about-me-div {
    min-height: fit-content;
    height: 70vh;
    font-size: 20px;
  }
  .AM-Description {
    width: 90vw;
    font-size: 18px;
  }
  .my-work-h1 {
    padding-top: 20px;
  }
  .my-work {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .project-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project {
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    width: fit-content;
  }

  .projects-div {
    background-color: #c1ccd4;
    align-self: flex-end;
    width: 60em;
    height: 10em;
    margin-right: 5vw;
    color: #763426;
  }
  .proj-description {
    max-height: 30vh;
    font-size: 15px;
  }
  .project-img {
    width: 15em;
  }

  .project a {
    padding: 5px;
    position: relative;
    bottom: 0;
  }

  .project a:hover {
    color: #c1ccd4;
  }
  /* CONTACT SECTION  */

  .contact-me {
    width: 100vw;
    height: 90vh;
    min-width: fit-content;
    min-height: fit-content;
  }

  .background {
    background-position: center;
    background-size: cover;
    width: 70vw;
    height: 70vh;
    align-self: center;
    z-index: 1;
  }
  .black {
    display: flex;
    justify-content: center;
    background-color: black;
  }
}

@media screen and (max-width: 400px) {
  .background {
    background-position: center;
    background-size: cover;
    width: 70vw;
    height: 40vh;
    margin-left: 50px;
    align-self: center;
    z-index: 1;
  }
  .black {
    display: flex;
    justify-content: start;
    background-color: black;
  }
}
